* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > .container {
    display: flex;
    min-height: 100vh;
    padding: 15px 0px;
}
nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
nav > div {
    display: flex;
    gap: 10px;
}
nav > .sidebar-header {
    align-items: center;
    margin-right: 50px;
}
nav > .sidebar-header > .icon {
    border-radius: 30px;
}
nav > .icon-list {
    flex-direction: column;
}
.nav-btn {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5em;

    font-size: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    flex: 4;
}
.icon {
    width: 30px;
    height: auto;
}
