* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-accent-red: rgb(211, 64, 53);
    --color-background-light: rgb(244, 242, 240);
}
body, html {
    height: 100%;
}
.flex,
.flex-col,
.centered-flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.centered-flex {
    justify-content: center;
    align-items: center;
}
body > .container {
    height: 100vh;
}
nav {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    width: clamp(250px, 40vw, 350px);
    height: 100%;
    background-color: var(--color-accent-red);
}
nav div {
    gap: 10px;
}
nav .sidebar-header {
    align-items: center;
    width: 200px;
    flex-shrink: 0;
}
nav .sidebar-header .icon {
    border-radius: 30px;
}
nav .icon-list {
    flex-shrink: 0;
    gap: 0.5rem;
}
.nav-btn {
    align-items: center;
    gap: 8px;
    padding: 0.5em;
    width: 200px;
    font-size: 1rem;
    border-radius: 10px;
}
nav .user-projects {
    flex-grow: 1;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
}
nav .user-projects .project-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 1.3rem;
}
nav .user-projects .project-header .add-project {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 1.5rem;
}  
.project {
    width: 100%;
    gap: 10px;
}
.project-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 10px;
}
main {
    flex: 4;
    height: 100%;
    padding: 9px 45px;
    background-color: var(--color-background-light);
}
.icon {
    width: 30px;
    height: auto;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
nav button:hover {
    background-color: rgb(180, 50, 45);
}
input {
    appearance: none;
}
dialog {
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    inset: 50% auto auto 50%; /* Centers the dialog */
    transform: translate(-50%, -50%); /* Shifts the box back by half its own size */
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
#dialog form {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    height: 450px;
    width: 350px;
}
.form-group {
    padding: 20px 25px;
}
#form-group-header {
    align-self: center;
    border-bottom: 1px solid rgb(208, 208, 208);
    background-color: var(--color-background-light);
}
#form-body {
    gap: 5px;
}
#form-body label {
    font-size: 1.2rem;
}
#form-body input[type="text"] {
    outline: none;
    border: 1px solid rgb(208, 208, 208);
    height: 45px;
    padding: 10px 7px;
    border-radius: 4px;
    font-size: 1rem;
}
#form-body input[type="text"]:focus {
    border-color: rgb(117, 117, 117);
}
#form-button-container {
    border-top: 1px solid rgb(208, 208, 208);
    gap: 5px;
    justify-content: end;
    align-items: center;
}
input[type="submit"],
input[type="button"] {
    height: 30px;
    padding: 5px 20px;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: var(--color-accent-red);
    color: white;
    border: 1px solid rgb(172, 28, 18);
}
input[type="button"] {
    background-color: var(--color-background-light);
    border: 1px solid rgb(186, 185, 184);
}